~*
**/data1/*
**/*.npy
**/*.zip
**/*.log
**/*.csv
**/*.swp
**/*.pyc
**/*.pyo
**/*.idea
**/*.tlog
**/*.keras
**/*.json
**/*.tlm
**/*.pb
**/*.h5
**/*.hdf5
**/*.yaml
**/*.yml
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*.ipynb
**/__pycache__/*
**/temp/*
**/venv/*
**/dumps/*
**/archive/*
**/data/elastic/*
**/.pytest_cache/*
**/tictactoe/data/*