# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\devroot\ble\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
